body {
  background-color: black;
  font-size: 2em;
}

th {
  width: 20%;
}

th.subcolumns {
  width: 40%;
}

.navigation {
  display: none;
}
.footer {
  display: none;
}

h1 {
  display: none;
}  

.item {         
  background: #20ba95;
  border-color: #20ba95;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #568F23;
}

.item.tag_important {
  background: #f8bc07;
  border-color: #f8bc07;
  text-shadow: 1px 1px 1px #a47c04;
}

.item.tag_blocked {    
  text-shadow: 1px 1px 1px #a9066e;
  background: #f02faa;
  border-color: #f02faa;
}
